.circle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(158, 232, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
